<nav class="nav-wrapper">

  <ul>
    <li class="left"><a href="">home</a></li>
    <li class="left"><a href="">vacancies</a></li>
    <li class="left"><a href="">resumes</a></li>
    <li class="right"><a href="">registration</a></li>
    <li class="right"><a href="">login</a></li>
  </ul>

</nav>
<div style="height: 50px;"></div>
<div class="container">

  <div class="container"></div>
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" name="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
<div style="height: 50px;"></div>

<div class="container">

  <ul class="collection">
    <li class="collection-item">

      <a href="#">vacation title</a>
      <a href="#" class="right" onclick="M.toast({html: '+1'})"><i class="material-icons">star</i></a>
      <p>description</p>

    </li>
    <li class="collection-item">

      <a href="#">vacation title</a>
      <a href="#" class="right"><i class="material-icons">star</i></a>
      <p>description</p>

    </li>

  </ul>

</div>

</div>
