
<div style="height: 50px;"></div>
<div class="container">

    <div class="container"></div>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" name="search" type="search" required>
                    <label class="label-icon" for="search"><i
                            class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>
<div style="height: 50px;"></div>

<div class="container">

    <ul class="collection">
        <li class="collection-item">

            <a href="#">vacation title</a>
            <a href="#" class="right" onclick="M.toast({html: 'added'})"><i
                    class="material-icons">star</i></a>
            <p>description</p>

        </li>
        <li class="collection-item">

            <a href="#">vacation title</a>
            <a href="#" class="right"><i class="material-icons">star</i></a>
            <p>description</p>

        </li>

    </ul>

</div>
<div style="height: 20px;"></div>
<div class="container">
    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i
                class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a>
        </li>
    </ul>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {

        // Init Modal
        $('.modal').modal()

    })
</script>
