<!--<script defer src="/js/registration.js"></script>-->
<script defer src="/js/parse.js"></script>
<div class="container mar40px">
    <div class="container"></div>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" name="search" type="search" required>
                    <label class="label-icon" for="search"><i
                            class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    <div class="input-field inline">
                        <input id="email_inline" type="number"
                               placeholder="от 1 до 100">
                        <label for="email_inline">Количество страниц</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                    </div>
                        <div class="col s12">
                            <div class="col s6">
                                <button class="waves-effect waves-light btn-large"
                                   data-qa="cv">
                                    Парсить hh.ru - Резюме
                                </button>
                            </div>
                            <div class="col s6">
                                <button class="waves-effect waves-light btn-large"
                                   data-qa="vacancy">
                                    Парсить hh.ru - Вакансии
                                </button>
                            </div>
                    </div>
                    <div class="load">

                    </div>

                </div>

            </form>
        </div>
    </nav>
</div>
</div>


